@using CMSWallet;
@{
    int role = int.Parse(ViewData["role"].ToString());
    List<listwallet> ls = Model;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">List Wallet</h4>
        <p class="card-description">
            @*Add class <code>.table</code>*@
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="">
                        <th style="color:white">Project</th>
                        <th style="color:white">Address</th>
                        <th style="color:white">API</th>
                        <th style="color:white">USDT  <img style="margin-left:5px; height:20px;width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png"></th>
                        <th style="color:white">USDC  <img style="margin-left:5px; height:20px;width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png"></th>
                        <th style="color:white">BUSD  <img style="margin-left:5px; height:20px;width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/4687.png"></th>
                        <th style="color:white">USDT-TN  <img style="margin-left:5px; height:20px;width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png"></th>
                        <th style="color:white">Child wallet</th>
                        <th style="color:white">Option</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in ls)
                        {
                            <tr>
                                <td style="color:white">@item.projectname</td>
                                <td style="color:white"> @Exten.Tinyhash(item.address)</td>
                                <td style="color:white">@item.url</td>
                                <td style="color:white">@item.usdt</td>
                                <td style="color:white">@item.usdc</td>
                                <td style="color:white">@item.busd</td>
                                <td style="color:white">@item.usdt_testnet</td>
                                <td style="color:white">@item.child</td>
                                <td>
                                    @if (role == 1)
                                    {
                                        <a class="btn btn-info mdi mdi-cash-multiple" data-toggle="tooltip" data-placement="top" title="Transfer to another wallet" href="@Url.Action("TransferOther","Wallet",new {address=item.address })"></a>

                                        <a class="btn btn-success mdi mdi-wallet" data-toggle="tooltip" data-placement="top" title="Create wallet user" href="@Url.Action("CreateChildWallet","Wallet",new {address=item.address })"></a>
                                        //<a class="btn btn-warning mdi mdi-wallet-membership" data-toggle="tooltip" data-placement="top" title="List wallet user" href="@Url.Action("ChildWallet","Wallet",new {address=item.address ,page = 1 })"></a>
                                        <a class="btn btn-behance mdi mdi-wallet-travel" data-toggle="tooltip" data-placement="top" title="Infor wallet" href="@Url.Action("InforWallet","Wallet",new {address=item.address })"></a>
                                        <a class="btn btn-light mdi mdi-web" data-toggle="tooltip" data-placement="top" title="Api callback transaction" href="@Url.Action("ApiCallbackWallet","Wallet",new {address=item.address })"></a>
                                        <a class="btn btn-danger mdi mdi-delete" data-toggle="tooltip" data-placement="top" title="Delete project" href="@Url.Action("DeleteWallet","Wallet",new {address=item.address })"></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

