@{
    Datainforwallet addressP = Model;
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Infor Wallet</h4>
            <div class="form-group">
                <label for="exampleInputUsername1">AddressParent</label>
                <input type="text" class="form-control" id="exampleInputUsername1" style="color:black" disabled value="@addressP.address">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Mnemonic Phrase</label>
                <input type="text" class="form-control" id="phrase" style="color:black" disabled value="@addressP.mnemonic">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Private Key</label>
                <input type="text" class="form-control" id="amount" style="color:black" disabled value="@addressP.privatekey">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">USDT  <img style="margin-left:5px; width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png"> : @addressP.value.USDT $</label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">USDC  <img style="margin-left:5px; width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png" > : @addressP.value.USDC $</label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">BUSD  <img style="margin-left:5px; width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/4687.png" > : @addressP.value.BUSD $</label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">DAI  <img style="margin-left:5px; width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/4943.png" > : @addressP.value.DAI $</label>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">USDT-TESTNET  <img style="margin-left:5px; width:20px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png" > : @addressP.value.USDT_TESTNET $</label>
            </div>

            @*<button onclick="Create()" class="btn btn-primary mr-2">Create </button>
        <button class="btn btn-dark">Cancel</button>*@
        </div>
    </div>
</div>