@using CMSWallet;
@{
    List<DataTransaction> ls = Model;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">History Transactions</h4>
        <p class="card-description">
            @*Add class <code>.table</code>*@
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="">
                        <th style="color:white">TxHash</th>
                        <th style="color:white">From</th>
                        <th style="color:white">To</th>
                        <th style="color:white">Amount</th>
                        <th style="color:white">Token</th>
                        <th style="color:white">Api status</th>
                        <th style="color:white">CreatedDate</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in ls)
                        {
                            <tr>
                                <td><a style="color:white" onclick="openTx('@item.hash')"> @Exten.Tinyhash(item.hash)</a> </td>
                                <td style="color:white">@Exten.Tinyhash(item.From)</td>
                                <td style="color:white">@Exten.Tinyhash(item.To)</td>
                                <td style="color:white">@item.Amount</td>
                                @if (item.token == "USDT_TESTNET" || item.token == "USDT")
                                {
                                    <td style="color:white">@item.token  <img style="margin-left:5px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png"></td>
                                }
                                else if (item.token == "USDC")
                                {
                                    <td style="color:white">@item.token  <img style="margin-left:5px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png"></td>
                                }
                                else if (item.token == "BUSD")
                                {
                                    <td style="color:white">@item.token  <img style="margin-left:5px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/4687.png"></td>
                                }
                                else if (item.token == "DAI")
                                {
                                    <td style="color:white">@item.token  <img style="margin-left:5px" src="https://s2.coinmarketcap.com/static/img/coins/64x64/4943.png"></td>
                                }

                                @if (item.callbackstatus)
                                {
                                    <td> <a class="btn btn-success">@item.callbackstatus</a></td>

                                }
                                else
                                {
                                    <td><a class="btn btn-danger">@item.callbackstatus</a></td>
                                }

                                <td style="color:white">@item.Createddate  ></td>
                                <td>
                                    @if (item.callbackstatus == false)
                                    {
                                        <a style="display: -webkit-inline-box;" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="call api" onclick="callapi('@item.hash')">
                                            <div id="loading-@item.hash" style="width:15px;height:15px; display:none" class="spinner-border" role="status">
                                            </div> CallApi
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    function openTx(hash) {
        var url = "https://testnet.bscscan.com/tx/" + hash;
        console.log("url=>", url);
        window.open(url, '_blank').focus();
    }

    function callapi(hash) {

        document.getElementById("loading-" + hash).style.display = "block";


        let param = {
            'hash': hash,
        };

        $.ajax({
            type: 'POST',
            url: "@Url.Action("Callbackapi")",
            data: param,
            async: true,
            success: function (data) {
                document.getElementById("loading-" + hash).style.display = "none";
                console.log("data", data)
                if (data.success) {
                    console.log(data.message);
                    alert(data.message);

                } else {
                    console.log(data.message);
                    alert(data.message);
                }
            }
        });
    }

</script>

