@using CMSWallet;
@{
    List<Walletvalue> ls = Model;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Balance </h4>
        <p class="card-description">
            @*Add class <code>.table</code>*@
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="">
                        <th style="color:white">Wallet</th>
                        <th style="color:white">Wallet balance (@ViewData["tokenname"])</th>
                        <th style="color:white">Option</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in ls)
                        {
                            <tr>
                                <td style="color:white"> @item.address </td>
                                <td id="@item.address" style="color:white">@item.value $</td>
                                <td>
                                    <a style="display: -webkit-inline-box;" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Withdraw to project wallet" onclick="Withdrawone(@item.value,'@item.address')">
                                        <div id="loading-@item.address" style="width:15px;height:15px; display:none" class="spinner-border" role="status">
                                        </div> Withdraw to project wallet
                                    </a>
                                    <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="update balance" onclick="UpdateBalanceOne('@item.address')">update balance</a>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>*@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Noti</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="content">
                    AHIHI
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="viewTX()" style="display: none;" id="viewtx" type="button" class="btn btn-primary">View tx</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top:20px">
    @* <a class="mdi mdi-arrow-left"></a>
    <h3>3</h3>

    <a class="mdi mdi-arrow-right"></a>*@

    <div class="template-demo">
        @if (int.Parse(ViewData["page"].ToString()) > 1)
        {
            <a href="@Url.Action("FilterWallet","WithDraw",new {address= ViewData["address"],tokenname= ViewData["tokenname"] ,value= ViewData["value"],page = int.Parse(ViewData["page"].ToString()) -1 })" class="mdi mdi-arrow-left"></a>
        }
        else
        {
            <a class="mdi mdi-arrow-left"></a>
        }
        <a class="">@ViewData["page"]</a>
        <a href="@Url.Action("FilterWallet","WithDraw",new {address= ViewData["address"] ,tokenname= ViewData["tokenname"] ,value= ViewData["value"],page = int.Parse(ViewData["page"].ToString())+1 })" class="mdi mdi-arrow-right"></a>
    </div>
</div>
<script>
    var txhash = "";
    function Withdrawone(_value, _address) {

        document.getElementById("loading-" + _address).style.display = "block";

        var myModal = document.getElementById("exampleModal");
        var modal = new bootstrap.Modal(myModal);

        var content = document.getElementById("content");



        var tokenname = `@Html.Raw(ViewData["tokenname"])`;

        let param = {
            'address': _address,
            'value': _value,
            'tokenname': tokenname
        };

        $.ajax({
            type: 'POST',
            url: "@Url.Action("WithdrawOne")",
            data: param,
            async: true,
            success: function (data) {
                document.getElementById("loading-" + _address).style.display = "none";
                console.log("data", data)
                if (data.success) {
                    content.innerHTML = data.data.message;
                    document.getElementById("viewtx").style.display = "block";
                    txhash = data.data.txhash;
                    modal.show();

                } else {
                    content.innerHTML = data.data.message;
                    document.getElementById("viewtx").style.display = "none";
                    modal.show();

                }
            }
        });
    }

    function viewTX() {
        var URL = "https://testnet.bscscan.com/tx/" + txhash;
        window.open(URL, '_blank');
    }


    function UpdateBalanceOne(_address) {


        var tokenname = `@Html.Raw(ViewData["tokenname"])`;

        let param = {
            'address': _address,
            'tokenname': tokenname
        };

        $.ajax({
            type: 'POST',
            url: "@Url.Action("UpdateBalance")",
            data: param,
            async: true,
            success: function (data) {
                console.log("data", data)
                if (data.success) {
                    alert("cập nhật số dư thành công!");
                    var contentValue = document.getElementById(data.data.address);
                    contentValue.innerHTML = data.data.balance + " $";
                } else {
                    alert(data.data.message);

                }
            }
        });
    }
</script>

